<div id="search-group">
  <div id="search-field-container">
    <div class="search-icon-container">
      <mat-icon style="margin: 0 auto; font-size: 1.6em; color: #3f50b5">search</mat-icon>
    </div>
    <input [(ngModel)]="searchKey" (keyup)="searchAddressItem($event)" id="search-input" type="text" placeholder=" ...  " >
  </div>
  <div id="search-btn" (click)="searchClick()">Search</div>
</div>

<div style="overflow-y: auto; height: 100vh; margin: 0 1em">
  <mat-nav-list>
    <a mat-list-item *ngFor="let person of pagedItems" [routerLink]="person.humanId">
      <h3 matLine> {{person.attributes?.firstName}} {{person.attributes?.lastName}} </h3>
      <p matLine>
        <span style="padding-left: 1em"> {{person.attributes?.email}} </span>
      </p>
    </a>
  </mat-nav-list>
</div>

<div class="address-paginator">
  <mat-paginator [length]="length"
                 [pageSize]="pageSize"
                 [pageSizeOptions]="pageSizeOptions"
                 (page)="updatePageEvent($event)">
  </mat-paginator>
</div>

