/* You can add global styles to this file, and also import other style files */
@import "~ngx-toastr/toastr.css";


html {
  height: 100%
}
body {
  margin: 0;
  height: 100%;
  overflow-y: hidden;

}

.example-icon {
  padding: 0 14px;
}

.example-spacer {
  flex: 1 1 auto;
}

.active {
  background-color: blueviolet;
}

.address-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-top: 4em;
}

.address-list {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.address-router-outlet {
  flex: 1;
}

.app-toolbar {
  position: fixed;
  top: 0;
  z-index: 999;
}

.address-paginator {
  position: fixed;
  bottom: 0;
}
